.has-margin-bottom {
  margin-bottom: 5rem !important;
}

.has-horizontal-padding {
  padding: 5rem 1.5rem !important;
}

.has-padding {
  padding: 5rem !important;
}

.has-little-padding {
  padding: 3rem 0 !important;
}
